<section>
  <div>
    <img src="<%= bookData.image_url %>" alt="<%= bookData.title %>" />
    <h2><%= bookData.title %></h2>
    <h4><%= bookData.author %></h4>
    <p><%= bookData.description %></p>
  </div>
  <button id="updatebtn">Update</button>
  <%- include('../layout/edit', {bookData: bookData}) %>
</section>
