<section>
  <div>
    <img src="<%= bookData.img %>" alt="<%= bookData.title %>" />
    <h2><%= bookData.title %></h2>
    <h4><%= bookData.author %></h4>
    <p><%= bookData.desc %></p>
  </div>
  <a href="/back"></a>
</section>
